<div>
	<audio id="audioTag" src="" type="audio/mp3">
	</audio>
	<div id="canvasInfo" class="box1 box-green on">
		<span ng-repeat="answer in answers" class="body">
			| {{ answer.name }} : {{ answer.value }} |
		</span>
	</div>
	<div id="canvasBox" class="box1 box-blue on">
		<canvas id="backgroundCanvas" class="box1"></canvas>
		<canvas id="particlesCanvas" class="box1"></canvas>
		<canvas id="unitsCanvas" class="box1"></canvas>
		<canvas id="enemiesCanvas" class="box1"></canvas>
		<canvas id="gameCanvas" class="box1"></canvas>
	</div>
	<form class="ipt-game">
		<input type="text" id="words" ng-model="words" autocomplete="off" /> <input type="submit" ng-click="sendWords()" />
	</form>
</div>