<div class="conta">
  <section class="l">
    <div class="pnl box2 box-purple user">
      <div class="playerPortrait" ng-repeat="portrait in portraits.team">
        <img ng-src="{{portrait.url}}">
      </div>
    </div>
  </section>
  <section class="c">
    <div class="pnl box2 box-green gameboard">
      <div class="picksPortrait"
           ng-repeat="portrait in portraits.picks"
           ng-class="{
            disabled: !portrait.enabled,
            cursor: portrait.enabled
            }"
           ng-mouseenter="showDetails(portrait  )"
           ng-mouseleave="hideDetails()"
           ng-click="pick(portrait)">
        <img ng-src="{{portrait.url}}">
      </div>
    </div>
  </section>
  <section class="r" id="chat">
    <div class="pnl box2 box-yellow users">
      <div class="playerPortrait" ng-repeat="portrait in portraits.enemy">
        <img ng-src="{{portrait.url}}">
      </div>
    </div>
  </section>
</div>
<div id="pickDetails" class="box2 box-green gameboard pickDetails" ng-show="details.show">
  {{ details.content }}
</div>