<section class="l">
	<div class="pnl box2 box-purple user">
		<div class="head2">{{user.userName}}</div>
		<div class="body">
			<div id="profileImg">
				<img ng-src="{{user.img}}" class="img-responsive" />
			</div>
			<div class="fGroup2">
				<input class="btn-purple" type="button" ng-click="showUpdate()" value="Update" />
			</div>
			<div class="fGroup2">
				<a class="bttn btn-purple" ng-if="getLocation() != '/statistics'" href="/#/statistics" >Statistics</a>
			</div>
			<div class="fGroup2">
				<a class="bttn btn-purple" ng-if="getLocation() != '/profile'" href="/#/profile" >Games</a>
			</div>
			<div class="fGroup2">
				<a class="bttn btn-purple" href="/#/gameTutorial" >Game tutorial</a>
			</div>
		</div>
	</div>
</section>