<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog box2 box-pink">
		<div class="head2" ng-show="title">
			<span ng-bind="title"></span>
		</div>
		<div class="body">
			<span class="nl">W</span><span class="nl">a</span><span class="nl">i</span><span class="nl">t</span><span class="nl">i</span><span class="nl">n</span><span class="nl">g</span>
		</div>
		<div class="fGroup3">
			<input class="btn-pink" type="button" ng-click="cancelGame(); $hide()" value="Cancel" />
		</div>
	</div>
</div>